<h1>This is the handlebars Homepage...</h1>
<p>The handlebar is rendering paragraphs ....</p>
<p>This is some stuff: {{stuff}}</p>
<p>This is some content: {{content}}</p>

{{stocks}}

<h1>This is the stock cards</h1>

